<h1>getting user source files </h1>

<h2>request</h2>

<pre><code>curl -s -u guest:guest \
    http://localhost:8080/natd/rest/~guest/source
</code></pre>

<h2>response content</h2>

<pre><code>[
   {
      "date" : "Mon Feb 11 17:30:05 CET 2013",
      "metaData" : {
         "creationDate" : "Mon Feb 11 17:30:05 CET 2013",
         "publicUri" : null,
         "author" : "guest"
      },
      "charset" : "ISO-8859-9",
      "uri" : "~guest/input documents/51191c8de4b00f4e848238cb",
      "contentType" : "text/plain",
      "displayName" : "afile"
   },
   {
      "date" : "Mon Feb 11 17:30:46 CET 2013",
      "metaData" : {
         "creationDate" : "Mon Feb 11 17:30:46 CET 2013",
         "publicUri" : null,
         "author" : "guest"
      },
      "charset" : "windows-1252",
      "uri" : "~guest/input documents/51191cb6e4b00f4e848238cc",
      "contentType" : "text/plain",
      "displayName" : "afile"
   },
   {
      "date" : "Mon Feb 11 17:31:04 CET 2013",
      "metaData" : {
         "creationDate" : "Mon Feb 11 17:31:04 CET 2013",
         "publicUri" : null,
         "author" : "guest"
      },
      "charset" : "windows-1252",
      "uri" : "~guest/input documents/51191cc8e4b00f4e848238cd",
      "contentType" : "text/cfz",
      "displayName" : "afile"
   },
   {
      "date" : "Mon Feb 11 17:48:31 CET 2013",
      "metaData" : {
         "creationDate" : "Mon Feb 11 17:48:31 CET 2013",
         "publicUri" : null,
         "author" : "guest"
      },
      "charset" : "ISO-8859-9",
      "uri" : "~guest/input documents/511920dfe4b00f4e8482398e",
      "contentType" : "text/plain",
      "displayName" : "afile"
   },
   {
      "date" : "Mon Feb 11 17:42:33 CET 2013",
      "metaData" : {
         "creationDate" : "Mon Feb 11 17:42:33 CET 2013",
         "publicUri" : null,
         "author" : "guest"
      },
      "charset" : "UTF-8",
      "uri" : "~guest/input documents/51191f79e4b00f4e8482398a",
      "contentType" : "application/vnd.oasis.opendocument.text",
      "displayName" : "erreurs_terres.odt"
   }
]
</code></pre>

<h1>posting source file 'afile' with options</h1>

<h2>request</h2>

<pre><code>curl -s -u guest:guest \
    --form file=@afile \
    --form press=OK \
    http://localhost:8080/natd/rest/~guest/source
</code></pre>

<h2>response content</h2>

<pre><code>{
   "date" : "Mon Feb 11 17:49:42 CET 2013",
   "metaData" : {
      "creationDate" : "Mon Feb 11 17:49:42 CET 2013",
      "publicUri" : null,
      "author" : "guest"
   },
   "charset" : "ISO-8859-9",
   "uri" : "~guest/input documents/51192126e4b00f4e8482398f",
   "contentType" : "text/plain",
   "displayName" : "afile"
}
</code></pre>

<h1>getting all configs</h1>

<h2>request</h2>

<pre><code>curl -s -u guest:guest \
    http://localhost:8080/natd/rest/~guest/metaconfig
</code></pre>

<h2>response content</h2>

<pre><code>[
   {
      "info" : "(codage UTF8 : Esytime...), 32 car. par ligne",
      "metaData" : {
         "creationDate" : "Mon Feb 11 17:29:29 CET 2013",
         "publicUri" : null,
         "author" : "natbraille"
      },
      "name" : "Plage braille 2",
      "id" : "51191c69e4b00f4e848238c7"
   },
   {
      "info" : "(codage ANSI : Braille Sense, Iris...), 32 car. par ligne",
      "metaData" : {
         "creationDate" : "Mon Feb 11 17:29:29 CET 2013",
         "publicUri" : null,
         "author" : "natbraille"
      },
      "name" : "Plage braille 1",
      "id" : "51191c69e4b00f4e848238c8"
   },
   {
      "info" : "Pour l'embossage sur une embosseuse en code U.S. (32x28), numerotation des pages ",
      "metaData" : {
         "creationDate" : "Mon Feb 11 17:29:29 CET 2013",
         "publicUri" : null,
         "author" : "natbraille"
      },
      "name" : "Embossage interligne simple",
      "id" : "51191c69e4b00f4e848238c9"
   },
   {
      "info" : "Pour l'embossage sur une embosseuse en code U.S. (32x28), numerotation des pages ",
      "metaData" : {
         "creationDate" : "Mon Feb 11 17:29:29 CET 2013",
         "publicUri" : null,
         "author" : "natbraille"
      },
      "name" : "Embossage interligne double",
      "id" : "51191c69e4b00f4e848238ca"
   }
]
</code></pre>

<h1>posting transcription </h1>

<h2>request</h2>

<pre><code>curl -s -u guest:guest -H "Content-Type: application/json" -X POST -d '{"metaConfigurationId":"51191c69e4b00f4e848238ca","logLevel":null,"sourceDocumentId":"51192126e4b00f4e8482398f"}' \
    http://localhost:8080/natd/rest/~guest/transcription/
</code></pre>

<h2>response content</h2>

<pre><code>{
   "metaConfigurationId" : "51191c69e4b00f4e848238ca",
   "status" : [],
   "metaData" : {
      "creationDate" : "Mon Feb 11 17:50:46 CET 2013",
      "publicUri" : null,
      "author" : "guest"
   },
   "id" : "51192166e4b00f4e84823990",
   "destDocumentId" : null,
   "sourceDocumentId" : "51192126e4b00f4e8482398f"
}
</code></pre>

<h1>getting transcription </h1>

<h2>request</h2>

<pre><code>curl -s -u guest:guest \
    http://localhost:8080/natd/rest/~guest/transcription/51192166e4b00f4e84823990
</code></pre>

<h2>response content</h2>

<pre><code>{
   "metaConfigurationId" : "51191c69e4b00f4e848238ca",
   "status" : [
      {
         "kind" : "FINAL_SUCCESS",
         "logLevel" : 0,
         "contents" : "51192167e4b00f4e84823991"
      }
   ],
   "metaData" : {
      "creationDate" : "Mon Feb 11 17:50:46 CET 2013",
      "publicUri" : null,
      "author" : "guest"
   },
   "id" : "51192166e4b00f4e84823990",
   "destDocumentId" : "51192167e4b00f4e84823991",
   "sourceDocumentId" : "51192126e4b00f4e8482398f"
}
</code></pre>

<h1>getting transcribed files </h1>

<h2>request</h2>

<pre><code>curl -s -u guest:guest \
    http://localhost:8080/natd/rest/~guest/resu/51192167e4b00f4e84823991
</code></pre>

<h2>response content</h2>

<pre><code>                              ,*
  LUNDI ,*&lt; NOVEMBRE ,&lt;#*&lt;1

,*?3:$3:? 8..UTC,6#*##0
</code></pre>

<h1>getting config 51191c69e4b00f4e848238c7</h1>

<h2>request</h2>

<pre><code>curl -s -u guest:guest \
    http://localhost:8080/natd/rest/~guest/metaconfig/51191c69e4b00f4e848238c7
</code></pre>

<h2>response content</h2>

<pre><code>{
   "XSL_g2" : "nat://system/xsl/fr-g2.xsl",
   "TranscrireImages" : "false",
   "debug_show_dynamic_xsl" : "false",
   "OUTPUT_ENCODING" : "UTF-8",
   "MepMinLignePB" : "false",
   "MathTrigoSpec" : "false",
   "NiveauTitreAbrege" : "3",
   "TRANSCODEUR_DEBUG" : "true",
   "MinCellLin" : "4",
   "Rajout" : "'','','','','','','','','','','',''",
   "ModeCoupureSagouin" : "false",
   "debug_show_dynamic_entities_resolution" : "false",
   "KeepPageBreak" : "false",
   "ListeIntegral" : "",
   "sens" : "false",
   "debug_document_show_max_char" : "200",
   "XSL_maths" : "nat://system/xsl/fr-maths.xsl",
   "TraiterMaths" : "true",
   "ListeIVB" : "",
   "CONFIG_DESCRIPTION" : "(codage UTF8 : Esytime...), 32 car. par ligne",
   "MepModelignes" : "0",
   "LongueurLigne" : "32",
   "debug_show_dynamic_resolution" : "false",
   "MathPrefixAlways" : "false",
   "IvbMajSeule" : "true",
   "XSL_g2_Rules" : "nat://temp/xsl/fr-g2-rules.xsl",
   "NiveauxTitres" : "1,2,3,4,5,5,5,5,5",
   "XSL_g1" : "nat://system/xsl/fr-g1.xsl",
   "ListeIntegralAmb" : "",
   "MepMinLigne3" : "4",
   "XSL_chimie" : "nat://system/xsl/fr-chimie.xsl",
   "LitEvidenceDansMot" : "true",
   "preserveXhtmlTags" : "false",
   "LineariseTable" : "false",
   "LitEvidenceMot" : "true",
   "TraiterLiteraire" : "true",
   "debug_document_show" : "false",
   "Mep" : "true",
   "MepMinLigne1" : "2",
   "LitMajDouble" : "true",
   "preserveTags" : "false",
   "TraiterMusique" : "false",
   "TABLE_EMBOSSAGE" : "nat://system/xsl/tablesEmbosseuse/TbFr2007.ent",
   "LitEvidencePassage" : "true",
   "TraiterChimie" : "true",
   "MepMinLigne2" : "3",
   "IndexTable" : "false",
   "ListeIVBAmb" : "",
   "CoupureLit" : "true",
   "Abreger" : "false",
   "LitMajPassage" : "true",
   "Numerotation" : "'nn'",
   "LitMajMelange" : "true",
   "Stylist" : "nat://system/xsl/ressources/styles_default.xml",
   "NumberingStartPage" : "2",
   "CONFIG_NAME" : "Plage braille 2",
   "NbLigne" : "40",
   "CONFIG_VERSION" : "3",
   "GeneratePB" : "false"
}
</code></pre>
