@font-face {
    font-family : sans-serife;
/*    src : url('../fonts/Cabin-Regular.otf');*/
}

body {
    font-family : sans-serif;
    width: 50em ;
    margin-left: auto ;
    margin-right: auto ;
    margin-top : 0px;
/*    background-color : #008;*/
    background-color : rgb(0,0,102);

 /*   background-color : #88f;*/
/*    background-color : rgb(200,200,210);*/
    padding-top:0px;
}

.head {
    background-color : rgb(221,221,255);
/*    background-color : #88f;*/
    border-top :0px;
    margin-top:0px;
    margin-bottom : 0px;
    padding-left : 1em;
    padding-right : 1em;
    padding-top:0px;
    border-radius : 0.2em 0em 1em 0em;

    
}
#menulitt {
    border-top : 1px solid blue;
}
div#tous, div#menulitt {
    border : 0px;
    margin : 0px;
    padding : 1em;
    background-color : rgb(221,221,255);

    
}
/*body {*/

div#convert, div#upload, div#newconf, div#result, div#clean, div#about {
/*    width : 46em;*/
    overflow: auto;
    height : 100%;

    border : 0px;
    margin : 0px;
    padding : 0px;
    

}


#transcription_list  {
    padding-left : 0em;

    
}
#transcription_list  ul {
    padding-left : 2em;

}
#upload label{
    width : 10em;
    display : block;
    float:left;
    text-align:right;
    margin-right:1em;
}
#upload input[type=submit]{
    clear : both;
    text-align:right;
    margin-left:14em;
    margin-top:1em;
}
h2 {
    width : 100%;
}
h3 {
    width : 100%;

/*    font-weight : normal;*/
    text-transform: lowercase;
    font-size : 100%;

}
div#tous {

      padding-top : 1em;
      padding-bottom : 1em;
      margin-top : 1em;
      margin-bottom : 1em;

}
.braille p {

    background-color : white;
    margin:0px;
    padding:0.5em;
    border:0px;
    box-shadow: 5px 5px 5px #aaa;
}
li.transcription_summary ul.actions li {
    padding-top : 0.5em;
    
}
/* } */
/* .comment { */
/*     display : none; */
/* } */
/* body { */
/*     width: 40em ; */
/*     margin-left: auto ; */
/*     margin-right: auto ; */
    
/* } */
/* * { */
/*     padding : 0.1em; */
/* } */
/* div#menubar { */
/* /\* */
/*   display:none; */
/*   *\/ */
/* }; */
/* select, option{ */
/*     border : 0px; */
/* } */
/* select { */
/*     background: url("new_arrow.png") no-repeat right #ddd; */
/*     width : 25em; */
/* } */
/* option{ */
/* } */
/* select, button, input, input[type=file]  { */
/*     padding : 0.4em; */
/*     background:  #ddd; */
/*     border : 1px solid white; */
/*     margin : 2px; */
/*     -moz-border-radius : 4px; */

/* } */
/* option:before { */
/* /\*    content : url('../images/logo/659px-Université_Lyon_1_(logo).svg.png');*\/ */
/* } */
/* form div { */
/*     overflow: auto; */
/*     width: 100%; */
/* } */
/* form label { */
/*     padding-top : 0.5em; */
/*     padding-right : 1em; */
/*     text-align : right; */
/*     float : left ; */
/*     display : block; */
/*     width : 10em; */
/* } */
/* form div select { */
/*     width : 10em; */
/* } */
/* form input, form select { */
/*     text-align : left; */
/*     float : left; */
/*     display : block; */
/* } */
/* form input[type=submit] { */
/*     float : right; */
/*     text-align : right; */
/*     margin-right : 5em; */

/* /\*    text-align : right;*\/ */

/* } */
/* /\* */
/*   two cols  */
/*   *\/ */
/* div.trans_two_col { */
/*     overflow: auto; */
/*     width: 100%; */
/*     vertical-align : middle; */
/* /\*    margin-bottom : 0em; */
/*   *\/ */
/*     margin : 0px; */
/*     padding : 0px; */
/*     border : 0px; */
/* } */
/* div.trans_two_col div.trans_desc { */
/*     float : left; */
/*     display : block; */
/*     width : 25em; */
/*     margin:0px; */
/*     padding:0px; */

/*     margin : 0px; */
/*     padding : 0px; */
/*     border : 0px; */

/* } */


/* div.trans_two_col div.pboutside { */
/*     float : right; */

/*     margin : 0px; */
/*     padding : 0px; */
/*     border : 0px; */
    
/* } */


/* div.trans_two_col h3 { */
/*     padding : 0px; */
/*     margin: 0px; */
/* }/\* */
/*   * end two cols */
/*   *\/ */
/* div.trans_two_col h3 { */
/*     padding-top : 0em; */
/*     border-top :0em; */
/*     margin-top : 0em; */
/*     color : #555; */
/*     font-weight :  normal; */
/* } */
/* li.transcription_summary { */
/*     padding : 0px; */
/*     border : 0px; */
/*     margin : 0px; */
/*     padding-bottom : 2.5em; */
/* } */

/* div.trans_two_col { */
/*     margin-bottom : 3em; */
/* } */

/* button:hover { */
/*     box-shadow: 0 0 4px #5a0; */
/* } */
