
/* 
 * twocols 
 */


#content {
    overflow:auto
}
#menubar {
    float:left; width :14em;
    margin-right : 1em;
}
#tous {
    float:left;
    padding-left : 1em;
}

/* 
 * onecol 
 **/
/*
#content {
    overflow:auto
}

#menubar li {
    display : inline;
}
#tous {
    float:left;
}
*/


/*
 *
 */
#menubar ul {
    list-style-type : none;
    padding:0px;
}
#menubar a {
/*    border : 1px solid  white;
    border-radius : 10px;
    padding : 10px;*/
}

#menubar a.selectedUrl {
/*    border : 1px solid black;*/    
}
#menubar a.selectedUrl:before {
    content : "[";
}
#menubar a.selectedUrl:after {
    content : "]";
}
