
/* 
 * twocols 
 */



/* 
 * onecol 
 **/

#menubar  , #menubar ul{
    border : 0px;
    padding : 0px;
    margin : 0px;
}

div#content, #menubar li, #menubar {
    border : 0px;
    padding : 0px;
    margin : 0px;
}
#menubar {
    margin-left : 0em;

}
#menubar li {
    display : inline;
}

#menubar a {
    border-radius : 0em 0em 0.5em 0.1em;
    margin-top  : 1em;

    text-decoration : none;
    padding-bottom : 0.7em;
    padding-left : 0.7em;
    padding-right : 0.7em;
    background-color :  #66e;

}

/*
 *
 */
#menubar ul {
    list-style-type : none;
    padding:0px;
}
#menubar a, #menubar a:visited {
/*    border : 1px solid  white;
    border-radius : 10px;
    padding : 10px;*/
    color : black;
}

#menubar a.selectedUrl {
/*    border : 1px solid black;*/    
/*    background-color :  #88f;*/
    background-color : rgb(221,221,255);

}
#menubar a.selectedUrl:before {
   /* content : "[";*/
}
#menubar a.selectedUrl:after {
/*    content : "]";*/
}
