div.progressbar {
    width:10em ;
    height:auto ;
    margin : 0em;
    background-color:#ddd ;
    -moz-border-radius:4px ;
}

div.progressbar div.pbinside {
    height:100% ;
    width:0% ;
    padding:0px ;
    margin:0px ;
    -moz-border-radius:4px ;
}

div.progressbar p.pb {
    background-color:#ccc ;
    height:100% ;
    margin:0px ;
    -moz-border-radius:4px ;
    text-align:center ;
}

div.progressbar div.pb_state_success p { 
    background-color:#cec ;
}
div.progressbar div.pb_state_error p { 
    background-color:#edb ;
}
div.progressbar div.pbinside.pb_state_success { 
    background-color : white;
}