/*
.state:before {
    content : '… ';
}
.success:before {
   content : '✓ ';
}
.error:before {
    content : '† ';
}

*/
#transcription_list ul {
/*    margin-left : 0px;
    padding-left : 0px;
*/
}
#transcription_list .transcription_summary {
      list-style-type:  none;
}
#transcription_list .transcription_summary {
    margin-bottom : 1em;
}

#transcription_list li.transcription_summary ul {
  /*  display : none;*/
}

#transcription_list li.transcription_summary:hover ul {
/*    display : block;*/
}


#transcription_list li.transcription_summary:hover  {
   background : rgba(0,0,0,0.01);
}



#transcription_list ul.actions   {
/*    list-style-type:  none;*/
/*    list-style-type:  circle;*/
/*    margin-left : 4em; */
/*    border-bottom : 0px;*/
   
}


#transcription_list div.trans_two_col {
    overflow : auto;
    margin-top : 0px;
}
#transcription_list div.trans_two_col h3 {
    margin-top : 0px;
}

#transcription_list div.trans_two_col div.trans_desc {
    float: left;
    width : 30em
}
#transcription_list div.trans_two_col div.progressbar {
    float: right;
}
