<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>hello-backbonejs</title>
  <style>
    body  {
    background-color : yellow;
    }
    select {
		border-radius: 15px; 
		border : solid red 1em;
		margin :  1em ;
		padding-left :  0em;
		padding-right :  0em;
		width : 20em;
    }
    form {
		border-radius: 15px; 
		border : blue red 1em;
		margin :  1em ;
		padding-left :  0em;
		padding-right :  0em;
		width : 20em;
    }
    p {
    margin-left : 2em;
    margin-right : 1em;
    }

  </style>
</head>
<body>
  <form>
    <h1>Fichier Source</h1> 
    <input>
    <button>importe</button>
    <select      name="drop1" id="Select1" size="5" multiple="multiple">
      <option value="1">nouveau document</option>
      <option value="2">document 2</option>
      <option value="3">document 3</option>
      <option value="4">document 4</option>
      <option value="1">document 1</option>
      <option value="2">document 2</option>
      <option value="3">document 3</option>
      <option value="4">document 4</option>
      <option value="1">document 1</option>
      <option value="2">document 2</option>
      <option value="3">document 3</option>
      <option value="4">document 4</option>
      <option value="1">document 1</option>
      <option value="2">document 2</option>
      <option value="3">document 3</option>
      <option value="4">document 4</option>
      <option value="1">document 1</option>
      <option value="2">document 2</option>
      <option value="3">document 3</option>
      <option value="4">document 4</option>
    </select> 
    <button>delete </button>
  </form>

  <form style="background-color : yellow">
    <h1>Fichier de configuration</h1> 
    <select name="drop1" id="Select1" size="5" multiple="multiple">
      <option value="1">configuration 1</option>
      <option value="2">configuration 2</option>
      <option value="3">configuration 3</option>
      <option value="4">configuration 4</option>
      <option value="1">configuration 1</option>
      <option value="2">configuration 2</option>
      <option value="3">configuration 3</option>
      <option value="4">configuration 4</option>
      <option value="1">configuration 1</option>
      <option value="2">configuration 2</option>
      <option value="3">configuration 3</option>
      <option value="4">configuration 4</option>
      <option value="1">configuration 1</option>
      <option value="2">configuration 2</option>
      <option value="3">configuration 3</option>
      <option value="4">configuration 4</option>
      <option value="1">configuration 1</option>
      <option value="2">configuration 2</option>
      <option value="3">configuration 3</option>
      <option value="4">configuration 4</option>
    </select>
    <button>delete </button>
  </form>
  <div id="input_collection" style="background-color:maroon" >
    <h1> input collection </h1>
  </div>
 
  <div id="test_collection" style="background-color:yellow" >
    <h1> qqch</h1>
  </div>

  <hr/>
  <div id="ici">
    <h1> debug</h1>
  </div>

  <div id="thecookie">
    <h1>the cookie</h1>
    <p id="cookie_name">
    <p id="cookie_password">
  </div>


  
  <div id="connection">
    <h1>connecte toi</h1>
    
    <input type="text" size="25" value="HTMLDEFAULT"  id="form_name" />
    <input type="text" size="25" value="HTMLDEFAULT" id="form_password" />
    <input type="checkbox" size="25" value="HTMLDEFAULT" id="form_rememberme" />
    <button id="connecte">connecte</button>

    <p id="jetourne">en train de se connecter</p>
  </div>

  <div id="deconnection">
    <h1>copnnncte</h1>

    <p id="display_name">HTMLDEFAULT</p>
    <p id="display_password">HTMLDEFAULT</p>
    <p id="display_rememberme">HTMLDEFAULT</p>
    <button id="deconnecte">deconnecte</button>
  </div>
  <hr/>

  <div id="oneconfig" style="background-color:red"/>
 
  
  <hr/>
  <!-- https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js -->
  <script src="libs/jquery.min.js"></script>
  <!-- http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js -->
  <script src="libs/json2.js"></script>
  <script src="libs/underscore.js"></script>
  <script src="libs/backbone.js"></script>
  <script src="libs/backbone.basicauth.js"></script>
  <script src="libs/jquery.cookie.js"></script> 

  <script type="text/template" id="config_template">
    <h1>La configuration est la suivante ::</h1> 
    <p>
      le nom est : <label><%= config_name %></label>
    <p>le label est : <label><%= config_tout %></label>
  </script>

  <script type="text/template" id="inputdocinfo_template">
    <li>
      <label><%= displayName %></label>
      <p>type : <label><%= contentType %></label>
      <p>encodage : <label><%= charset %></label> 
    </li>
  </script>
  
  <script src="mv.js"></script> 
  <script src="oneconfig.js"></script> 
  <script src="coll.js"></script>
  <script src="inputdocuments.js"></script>
  <script src="app.js"></script>
  <script >
    $(document).ready(natbraille);
  </script>
</script>

</body>
</html>

